{% extends 'blog/base.html' %}

{% block content %}
    <div id="content">
        <h1>Kommt zur dunklen Seite der Macht!</h1>
        <p>Willkommen beim EasyInfProject! Wir sind ein Trio von verzweifelten Q2 Schülerinnen, die sich diese Website vor 3 Jahren gewünscht hätten (und wir brauchten eine gute Idee für unser Software-Projekt...). Aus dieser dunklen Abiturzeit heraus ist die Idee geboren, deren Endprodukt ihr hier seht:</p>
        <p><strong>Das EasyInfProject</strong></p>
        <p>Diese Website stellt euch allen Inhalt der drei Jahre Informatikunterricht zur Verfügung, durch die wir uns gebissen haben.  Alle Artikel, die ihr hier findet, wurden sorgsam mit Schweiß und Tränen, aber ohne Blut, von E und F zusammengetragen und selbst verfasst, während ich den Code für diese Seite erstellt habe.</a>.</p>
        <p>Alle Texte, die ihr hier vorfindet, sind euch (und euren Lehrern :D) zum persönlichen Gebrauch frei gegeben, also schreib dir endlich die Lernzettel, vor denen du dich drückst! Zum Üben der Themen, haben E und F euch Texte und Aufgaben erstellt, manche von welchen Bildern benötigen. Da ich ein Amateur vom Feinsten bin und mich innerhalb weniger Wochen in  vollkommen unbekannte Programme arbeiten musste, weiß ich nicht mit Sicherheit, wie man diese Bilder sinnvoll einfügen würde. Deshalb werden sie mit Hilfe von Google Docs verlinkt, bis ich die Zeit habe, es besser einzurichten.</p>
        <p>Falls ihr Fehler findet oder Feedback habt, könnt ihr uns unter easyinf.project@gmail.com erreichen!</p>
        <p>Viel Glück beim Lernen und benutzt das hier nicht zum Betrug bei der Klausur!</p>
        <p>May the force be with you,</p>
        <p>E, F und Z</p>
        <p><br></p>
    </div>
    {% for post in posts %}
        <article class="post">
            <time class="date">
                 {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.year|linebreaksbr }}</p>
        </article>
    {% endfor %}
 {% endblock %}